#grid {
	width: 100px;
	height: 100px;

	font-weight: bold;
	font-size: 2.5em;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

.number_0 {
	font-size: 0px !important;
	background-color: #cdbfb3;
}

.number_2 {
	color: #7b7169;
	background-color: #eee4bd;
}

.number_4 {
	color: #7b7169;
	background-color: #d2d6da;
}

.number_8 {
	color: white;
	background-color: #a9c8da;
}

.number_16 {
	color: white;
	background-color: #83c8d5;
}

.number_32 {
	color: white;
	background-color: #19A6DE;
}

.number_64 {
	color: white;
	background-color: #5c9ade;
}

.number_128 {
	color: white;
	background-color: #8E9BFF;
}

.number_256 {
	color: white;
	background-color: #655BD5;
}

.number_512 {
	color: white;
	background-color: #D49255;
}

.number_1024 {
	color: white;
	background-color: #D371D5;
}

.number_2048 {
	color: white;
	background-color: #D20016;
}